
<div class="block-3" style="background-color: rgba(255, 196, 0, 0.25);">
    <div class="row banner-content py-3 text-center justify-content-center">
        <div class="col-6">
            <section id="section_4">
                <h4 class="text-danger"><b>🚨 ATTENTION: Limited Quantities</b></h4>
                <h5 class="text-dark">These gift boxes are crafted in exclusive editions and are selling fast. Once they're gone, there won't be another chance to get one.</h5>
            </section>
            
            <section id="section_5">
                <h5><b>Receive yours now!</b> Contact us via <a href="mailto:[config.emailref]" style="color: blue;">Message</a> or <a href="tel:[config.phoneref]" style="color: green">Call</a> to secure the perfect gift!</h5>
                <!--<h5>Don't wait!! Christmas is around the corder, and this offer won't last long</h5>-->
            </section>
        </div>
    </div>
  </div>