<section id="section_6" style="background-color: rgba(0, 0, 0, 0.04);">
    <div class="block-3">
        <div class="row banner-content py-3 text-center justify-content-center">
            <div class="col-6">
                <h4><b>📍 Find us every <b class="text-secondary">Thursday</b> in <a href="[config.locationref]" target="_blank" style="color: green;">[config.location]</a></b></h4>
                <h5 class="text-dark">To reserve your gift box and taste our products first-hand!</h5>
            </div>
        </div>
      </div>
</section>
