<section id="section_5">
    <div>
        <div class="row align-items-center justify-content-center pb-3 pt-2">
            <div class="col-md-4 text-center fancy">
                <div>
                    <h1 class="my-1">Reggiano Royalty</h1>
                </div>
                <div class="text-center">
                    <img src="assets/deals/deal-1.jpg" style="height: 200px;" />
                </div>
                <div class="mt-2">
                    <h3>€3,99</h3>
                </div>
            </div>
            <div class="col-6 col-md-8">
                <div class="">
                    The Reggiano Royalty Pack Contains
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2 (x2)</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                    </ul>
                    <div class="text-center text-md-start">
                        <a href="#" class="btn btn-dark text-uppercase">Reserve Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center pb-3 pt-2 flex-row-reverse" style="background-color: rgba(0, 0, 0, 0.04);">
            <div class="col-md-4 text-center">
                <div>
                    <h1 class="my-1">Reggiano Royalty</h1>
                </div>
                <div class="text-center">
                    <img src="assets/deals/deal-1.jpg" style="height: 200px;" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-end">
                    <p>Very tasty &amp; creamy vanilla flavour creamy muffins.</p>
                    <a href="#" class="btn btn-dark text-uppercase">Show Now</a>
                </div>
            </div>
        </div>
    </div>
</section>