<section id="section_5">
    <div>

        <div inject-component="deals/objects/product" 
            inject-replace key-index="1" 
            key-title="Reggiano Essentials"
            key-price="9,99"
            key-description="Essentials which will make anyone happy"
            key-items="Item 1, Item 2, Item 3">
        </div>

        <div inject-component="deals/objects/product" 
            inject-replace key-index="2" 
            key-title="Reggiano Prestige"
            key-price="19,99"
            key-reverse="true" 
            key-description="Prestige pack to spoil somebody special"
            key-items="Item 1, Item 2, Item 3">
        </div>
        
        <div inject-component="deals/objects/product" 
            inject-replace key-index="3" 
            key-title="Reggiano Royalty"
            key-price="29,99"
            key-description="Royalty pack with only the best selected items"
            key-items="Item 1, Item 2 <b>(x3)</b>, Item 3">
        </div>
    </div>
</section>