<section id="section_5">
    <div>
        <div inject-component="deals/objects/product" 
            inject-replace key-index="1" 
            key-title="[deal.1_name]"
            key-price="[deal.1_price]"
            key-description="[deal.1_description]"
            key-items="[deal.1_items]">
        </div>

        <div inject-component="deals/objects/product" 
            inject-replace key-index="2"
            key-reverse="true" 
            key-title="[deal.2_name]"
            key-price="[deal.2_price]"
            key-description="[deal.2_description]"
            key-items="[deal.2_items]">
        </div>
        
        <div inject-component="deals/objects/product" 
            inject-replace key-index="3" 
            key-title="[deal.3_name]"
            key-price="[deal.3_price]"
            key-description="[deal.3_description]"
            key-items="[deal.3_items]">
        </div>
    </div>
</section>