<section id="section_1">
    <div class="banner-ad bg-dark mt-2">
        <div class="banner-content p-2">
            <div class="text-center mt-1">
                <h3 class="text-light">Order your Gift Packs now! <br> The <b class="text-danger">Offer Ends</b> on <b class="text-secondary">December 20th!</b> <b class="text-danger">Limited Availability</b> and <b class="text-danger">No Restocks!</b></h3> 
            </div>
        </div>
      </div>
</section>

<section id="section_2 & 3">
    <div class="jumbotron jumbotron-fluid text-center mt-4">
        <div class="container fancy">
            <h1 class="text-teal display-4">Christmas Reggiano Pack</h1>
            <div class="text-light">
                <p class="font-weight-light"><small><em>
                    Still undecided about the ideal gift? Struggling to find the right idea this year?
                    <br>
                    You can gift something magical and precious and witness the instant happiness of those who receive it.
                </em></small></p>
            </div>
        </div>
      </div>
</section>

<section class="py-5 overflow-hidden" id="section_3.2">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="section-header d-flex float-end flex-wrap justify-content-between mb-2">
            <div class="d-flex align-items-center">
                <div class="swiper-buttons">
                <button class="swiper-prev category-carousel-prev btn btn-yellow swiper-button-disabled" disabled="" tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-8a5dce86e6e10cad3" aria-disabled="true">❮</button>
                <button class="swiper-next category-carousel-next btn btn-yellow" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-8a5dce86e6e10cad3" aria-disabled="false">❯</button>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <div class="category-carousel swiper swiper-initialized swiper-horizontal align-items-center">
            <div class="swiper-wrapper" id="swiper-wrapper-8a5dce86e6e10cad3" aria-live="polite">
                <div inject-component="deals/objects/deal-preview" inject-replace key-index="1" key-title="Reggiano Royalty"></div>
                <div inject-component="deals/objects/deal-preview" inject-replace key-index="2" key-title="Reggiano Prestige"></div>
                <div inject-component="deals/objects/deal-preview" inject-replace key-index="3" key-title="Reggiano Essentials"></div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        </div>
    </div>
</section>