<section id="section_1" class="row justify-content-center">
    <div class="col-12 col-md-8 mt-2">
        <div class="p-2">
            <div class="text-center mt-1">
                <h3 class="text-light">Order your Gift Packs now! <br> The <b class="text-secondary">Offer Ends</b> on <b class="text-secondary">December 20th!</b> <b class="text-secondary">Limited Availability</b> and <b class="text-secondary">No Restocks!</b></h3> 
            </div>
        </div>
      </div>
</section>

<section id="section_2">
    <div class="jumbotron jumbotron-fluid text-center mt-4">
        <section class="py-2">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-12 col-md-5">
                  <div class="deal-main mb-3 border" style="
                                    background: url('assets/deals/bg-deal.jpg'); 
                                    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.527)), url('assets/deals/bg-deal.jpg'); 
                                    background-repeat: no-repeat;
                                    background-position: center; 
                                    background-size: cover;">
                    <div class="banner-content pt-4 pb-4 mx-3">
                        <div class="fancy">
                            <h1 class="banner-title text-teal display-4 fancy" 
                                style="font-weight: bolder; -webkit-text-stroke: 0.2px rgb(255, 255, 255);">Christmas Reggiano Pack</h1>
                        </div>
                        <h6 class="font-weight-light text-light mx-5 my-3"><em>
                            Still undecided about the ideal gift? Struggling to find the right idea this year?
                            <br><br>
                            You can gift something magical and precious and witness the instant happiness of those who receive it.
                        </em></h6>
                      <a href="#section_5" class="btn btn-success text-uppercase">See Deal</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>
</section>

<section class="overflow-hidden" id="section_3">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="section-header d-flex float-end flex-wrap justify-content-between mb-2">
            <div class="d-flex align-items-center">
                <div class="swiper-buttons">
                <button class="swiper-prev category-carousel-prev btn btn-yellow swiper-button-disabled" disabled="" tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-8a5dce86e6e10cad3" aria-disabled="true">❮</button>
                <button class="swiper-next category-carousel-next btn btn-yellow" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-8a5dce86e6e10cad3" aria-disabled="false">❯</button>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <div class="category-carousel swiper swiper-initialized swiper-horizontal align-items-center">
            <div class="swiper-wrapper" id="swiper-wrapper-8a5dce86e6e10cad3" aria-live="polite">
                <div inject-component="deals/objects/deal-preview" 
                    inject-replace key-index="1" 
                    key-title="Reggiano Royalty" 
                    key-description="Royalty pack with only the best selected items">
                </div>
                <div inject-component="deals/objects/deal-preview" 
                    inject-replace key-index="2" 
                    key-title="Reggiano Prestige" 
                    key-description="Prestige pack to spoil somebody special">
                </div>
                <div inject-component="deals/objects/deal-preview" 
                    inject-replace key-index="3" 
                    key-title="Reggiano Essentials" 
                    key-description="Essentials which will make anyone happy">
                </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        </div>
    </div>
</section>