<!-- Hero Section section -->
<section id="hero_section">
    <div class="main">
    <div class="container">
        <div class="row align-items-center mt-4">
        <div class="col-lg-6 text-center text-lg-start">
            <img class="img-fluid" src="assets/logo.png" alt="">
            <p class="text-white animated slideInLeft mt-4 mb-4 pb-2"><i>Try our <b>Pasta alla Ruota</b> <br> Every <b>Thursday</b> at <a href="[config.locationref]" target="_blank">[config.location]</a> from <b>9am</b> to <b>5pm</b></i></p>
        </div>
        <div class="col-lg-6 text-center text-lg-end overflow-hidden hero-img">
            <img class="img-fluid" src="assets/hero.png" alt="">
        </div>
        </div>
    </div>
    </div>
</section>
<!-- end Hero Section section -->